<div class="panel panel-success" id="bidList">
	<div class="panel-heading">
		<h2 class="panel-title"><img class="provider-logo" src="resources/images/tui-logo.jpg"></img>Mystery Travel Proposal</h2>
	</div>
	<div class="panel-body">
	
	<div class="row">
  		<div class="col-lg-6">
    		<div class="input-group">
      			<div class="input-group-btn">
        			<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        				Filter results <span class="caret"></span>
        			</button>
			        <ul class="dropdown-menu" role="menu">
			          <li><a href="#">Action</a></li>
			          <li><a href="#">Another action</a></li>
			          <li><a href="#">Something else here</a></li>
			          <li class="divider"></li>
			          <li><a href="#">Separated link</a></li>
			        </ul>
      			</div><!-- /btn-group -->  			
      			<input type="text" class="form-control">
    		</div><!-- /input-group -->
  		</div><!-- /.col-lg-6 -->
  		
  		<div class="col-lg-6">
    		<div class="input-group">
      			<input type="text" class="form-control">
      				<div class="input-group-btn">
        				<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        					Sort by... <span class="caret"></span>
        				</button>
				        <ul class="dropdown-menu dropdown-menu-right" role="menu">
				          <li><a href="#">Action</a></li>
				          <li><a href="#">Another action</a></li>
				          <li><a href="#">Something else here</a></li>
				          <li class="divider"></li>
				          <li><a href="#">Separated link</a></li>
				        </ul>
			     </div><!-- /btn-group -->
			</div><!-- /input-group -->
		</div><!-- /.col-lg-6 -->
	</div><!-- /.row -->
	
		<table class="table table-hover">
      		<thead>
        		<tr>
          			<th>Travel Element</th>
          			<th>Description</th>
          			<th>Price</th>
        		</tr>
      		</thead>
      		<tr>
      			<td>Airplane</td>
      			<td>Flight Nice to New York</td>
      			<td>$ 345</td>
      		</tr>
      		<tr>
      			<td>Accomodation</td>
      			<td>Holiday Inn for 5 Days in Manhattan</td>
      			<td>$ 555</td>
      		</tr>
      		<tr>
      			<td>Museum</td>
      			<td>MET Guided Visit</td>
      			<td>$ 0</td>
      		</tr>
      		<tr>
      			<td>Activity</td>
      			<td>Visit to Geroge IV Gardens</td>
      			<td>$ 15</td>
      		</tr>
      		<tr>
      			<td>Airplane</td>
      			<td>Flight New York to Nice</td>
      			<td>$ 243</td>
      		</tr>

    	</table>
    	
	</div>
</div>
