<div class="panel panel-default" id="bidList">
	<div class="panel-heading">
		<h2 class="panel-title">Bids from providers</h2>
	</div>
	<div class="panel-body">
	
	<div class="row">
  		<div class="col-lg-6">
    		<div class="input-group">
      			<div class="input-group-btn">
        			<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        				Filter results <span class="caret"></span>
        			</button>
			        <ul class="dropdown-menu" role="menu">
			          <li><a href="#">Action</a></li>
			          <li><a href="#">Another action</a></li>
			          <li><a href="#">Something else here</a></li>
			          <li class="divider"></li>
			          <li><a href="#">Separated link</a></li>
			        </ul>
      			</div><!-- /btn-group -->  			
      			<input type="text" class="form-control">
    		</div><!-- /input-group -->
  		</div><!-- /.col-lg-6 -->
  		
  		<div class="col-lg-6">
    		<div class="input-group">
      			<input type="text" class="form-control">
      				<div class="input-group-btn">
        				<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        					Sort by... <span class="caret"></span>
        				</button>
				        <ul class="dropdown-menu dropdown-menu-right" role="menu">
				          <li><a href="#">Action</a></li>
				          <li><a href="#">Another action</a></li>
				          <li><a href="#">Something else here</a></li>
				          <li class="divider"></li>
				          <li><a href="#">Separated link</a></li>
				        </ul>
			     </div><!-- /btn-group -->
			</div><!-- /input-group -->
		</div><!-- /.col-lg-6 -->
	</div><!-- /.row -->
	
		<table class="table table-hover">
      		<thead>
        		<tr>
          			<th>#</th>
          			<th>Travel Provider</th>
          			<th>Rating</th>
          			<th>Price</th>
          			<th><span class="criteria">Sea View from Hotel</span></th>
          			<th><span class="criteria">Criteria #2</span></th>
          			<th><span class="criteria">Criteria #3</span></th>
        </tr>
      </thead>
		<tbody>
        <tr data-ng-repeat="bid in data.bids" class="position-cursor" data-ng-click="onBidClick($index)">
          <td>{{ $index + 1 }}</td>
          <td>{{ bid.name }}</td>
          <td>
          	<span class="glyphicon glyphicon-star"></span>
          	<span class="glyphicon glyphicon-star"></span>
          	<span class="glyphicon glyphicon-star"></span>
          	<span class="glyphicon glyphicon-star"></span>
          	<span class="glyphicon glyphicon-star"></span>
          </td>
          <td>&euro; {{ bid.amount }}</td>
          <td><span class="glyphicon glyphicon-ok"></span></td>
          <td><span class="glyphicon glyphicon-remove"></span></td>
          <td><span class="glyphicon glyphicon-remove"></span></td>
        </tr>
      </tbody>
    </table>
	</div>
</div>