h1 {
   text-align:center;
   color: rgb(255, 255, 255);
   font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
   font-size: 150%;
   text-shadow: black 0.1em 0.1em 0.2em;
   padding: 0px;
   margin: 0px;
}
h3 {
   text-align:center;
   color: rgb(255, 217, 6);
   padding:20px;
   font: 400 130px/0.8 'Cookie', Helvetica, sans-serif;
   font-size: 350%;
   text-shadow: black 0.1em 0.1em 0.2em;
   margin-top:70px;
}

h2 {
   margin-top: 20px;
   text-align: left;
   color: rgb(100,100,100);
   padding-left: 20px;
   font-size: 25px;
   font-family: 'Josefin Slab', serif;
   -webkit-font-smoothing: antialiased;
}

table.basic-table
{
	width: 100%;
}

.basic-table td {
	text-align: left;
	vertical-align: top;
	color: rgb(100, 100, 100);
	font-family: 'Josefin Slab', serif;
	-webkit-font-smoothing: antialiased;
	margin-top: 0px;
	padding-left: 50px;
	font-size: 20px;
}

.table-title img {
	width: 48px;
	height: 48px;
	margin-right: 3px;
}

td.table-title  {
	color: rgb(100, 100, 100);
	margin-top: 0px;
	padding-left: 0px;
	font-size: 22px;
	font-weight: bold;
	vertical-align: middle;
}

span.criteria {
	background-color: lightblue;
	display: inline-block;
	margin-top: 2px;
	margin-bottom: 2px;
	border-radius: 2px;
}

.hspacer td {
	height: 15px;
}

html {
 background: url(../images/bg.jpg) no-repeat center center fixed; 
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
 background-color: transparent;
   
}

body{
   background-color: transparent;
}

.navbar-right {
   float:right;
}

.panel-heading h2{
   text-align: center;
   font-size: 50px;
}

#datelocation{
min-height: 80px;
   padding: 20px;
}

#location-forms{
   margin:20px;
}

#map{
   align-content: center;
   text-align: center;
   margin: 20px;
   float:left;
}

#date-forms{
   margin:20px;
   float:inherit;
   padding: 20px;
}

.navbar-collapse {
   float:left;
}

.panel{
   margin: 20px;
   width: 80%;
   margin-left: auto;
   margin-right: auto;
}
.panel.traveler {
	margin-top: 80px !important;
	opacity: 0.95;
}
p.lead.logo {
	margin-left: 18px;
	font-size: 15px;
}
.panel-title.logo {
	font-size: 25px;
}
.well.title {
	padding-bottom: 1px;
	margin-bottom: 0px;
}

#datepicker{
   width: 100%;
}

.slider-horizontal{
   width: 100%;
}

#submit{
   width: 100%;
}

#transportation{
   width: 100%;
   align-content: center;
   text-align: center;
}

input.holo[type='text'] {
/* You can set width to whatever you like */
   width: 200px;
font-family: "Roboto", "Droid Sans", sans-serif;
font-size: 16px;
margin: 0;
padding: 8px 8px 6px 8px;
position: relative;
display: block;
outline: none;
border: none;
background: bottom left linear-gradient(#a9a9a9, #a9a9a9) no-repeat, bottom center linear-gradient(#a9a9a9, #a9a9a9) repeat-x, bottom right linear-gradient(#a9a9a9, #a9a9a9) no-repeat;
background-size: 1px 6px, 1px 1px, 1px 6px;
}

input.holo[type='text']:hover, input.holo[type='text']:focus {
background: bottom left linear-gradient(#00cc4e, #00cc37) no-repeat, bottom center linear-gradient(#00cc4e, #00cc37) repeat-x, bottom right linear-gradient(#00cc4e, #00cc37) no-repeat;
background-size: 1px 6px, 1px 1px, 1px 6px;	
} 

.map-container {
   position: relative;
   padding-bottom: 26.25%;
   padding-top: 30px;
   height: 0;
   overflow: hidden;
}

.map-container iframe,  
.map-container object, 
.map-container embed {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
}

.container{
   margin-left: 0px;
}

textarea#styled {
width: 100%;
height: 120px;
border: 3px solid #cccccc;
padding: 5px;
font-family: Tahoma, sans-serif;
background-color: WHITE;
background-position: bottom right;
background-repeat: no-repeat;
}
ul.autocomplete-results {
  list-style: none;
  position: absolute;
  z-index: 999;
  background: rgb(234, 241, 246);
}
img.selected {
  border: 4px solid rgb(77, 226, 102);
}
.msk.loading {
  background:url('../images/ajax-loader.gif') no-repeat center rgba(0, 0, 0, 0.5) !important;
  z-index: 9999;
}
div.msk {
  position:fixed;
  z-index:1001;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background: rgba(0, 0, 0, 0.3) !important;
}
.hidden {
	display: none;
}
.form-signin input {
  margin-bottom: 5px;
}
button.bootbox-close-button.close{
	margin-top: -10px;
	margin-bottom: 10px;
}
.alert ul li:first-child{
  list-style: none;
  margin-left: -30px;
}
div.modal-body div.alert {
	margin-top: 15px;
}
div.section-title {
	font-size: 25px;
	font-family: 'Josefin Slab', serif;
	-webkit-font-smoothing: antialiased;
	margin-top: 15px;	
}
div.row.logo {
	margin-left: 5px;
}
div.row.logo.content {
	margin-left: 88px;
	margin-top: 30px;
}
input.holo.currency {
	width: 87%;
	margin-top: 21px;
}
span.symbol {
	font-weight: bold;
}
.marginup {
	margin-top: 10px;
}
div.row.logo.content.lessmargin {
	margin-top: 10px !important;
}
button.btn.btn-primary.dropdown-toggle.marginup.ng-binding {
	width: 83%;
	height: 40px;
	margin-left: 100px;
}
.fullwidth {
	width: 100% !important;
}
.customBtn {
  display: inline-block;
  background: #dd4b39;
  color: white;
  width: 100%;
  border-radius: 5px;
  white-space: nowrap;
  margin-top: 5px;
}
.customBtn:hover {
  background: #e74b37;
  cursor: pointer;
}
span.label {
  font-weight: bold;
}
.customBtn.facebookBtn {
	background: #486EAD;
}
.customBtn.facebookBtn: hover {
	background: #4A6BA2;
}
span.icon.facebook {
  background: url('../images/facebook.png') transparent 5px 50% no-repeat;
  border-right: #687BA2 1px solid;
}
span.icon {
  background: url('../images/btn_red_32.png') transparent 5px 50% no-repeat;
  display: inline-block;
  vertical-align: middle;
  width: 45px;
  height: 35px;
  border-right: #bb3f30 1px solid;
}
span.buttonText {
  display: inline-block;
  vertical-align: middle;
  padding-left: 9px;
  padding-right: 35px;
  font-size: 14px;
  font-weight: bold;
  font-family: 'Roboto',arial,sans-serif;
}
div.input-group.holo {
	width: 210px;
	margin-top: 10px;
}
input.form-control.disable {
	cursor: pointer;
}
.position-cursor {
	cursor: pointer;
}
div.col-lg-6 {
	margin-left: -18px;
}