<div class="bootbox modal" tabindex="-1" role="dialog" aria-hidden="false" style="display:block">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<button type="button" class="bootbox-close-button close" data-ng-click="onCloseClick()">x</button>
				<address>
					<strong>BidForMe Pvt Ltd.</strong><br>
					6th Floor, Etamin Block B3, Prestige Technology park II,<br>
					Marathahalli - Sarjapur Outer Ring Road,<br>
					Kadubeesanahalli, Bangalore - 560 103<br>
					<abbr title="Phone">P:</abbr> (+91) 080-3051-5100
			    </address>
			    <address>
					<strong>Bid For Me</strong><br>
					<a href="mailto:support@bidforme.com">support@bidforme.com</a>
			    </address>
			</div>
		</div>
	</div>
</div>