<div class="bootbox modal" tabindex="-1" role="dialog" aria-hidden="false" style="display:block">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<button type="button" class="bootbox-close-button close" data-ng-click="onCloseClick()">x</button>

					<strong>ThereYouGo</strong><br/>
<br/><br/>
Ever counted the number of pages you consulted to plan your holidays? 
<br/>
Well, on average, a traveler will visit 38 websites before booking. 
<div style="width=5px;"/>
<br/>
Thereyougo takes a new approach to trip planning, you simply ask!
<div style="width=5px;"/>
<br/>
Go in and start filling your request, then seat back, relax and let us do the work for you. 
<div style="width=5px;"/>
<br/>
Our network of travel experts will build you offers, fully tailored to your request.
<div style="width=5px;"/>
<br/>
We will notify you when offers come in, you can then review, compare and adjust. When you are fully happy, book a holiday that looks like you. 
<div style="width=5px;"/>
<br/>
Our experts are committed to make you fully custom proposals, based on what you have requested. The best about it? This service is free!

			</div>
		</div>
	</div>
</div>