<!-- Fixed navbar -->
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
			<span class="sr-only">{{ label.tx_bidforme_toggle_nav }}</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="javascript:void(0);">
				<h1 class="brand-name">{{ label.tx_bidforme_app_name }}</h1>
			</a>
		</div>
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li class="active"><a href="#">{{ label.tx_bidforme_nav_home }}</a></li>
				<li><a href="javascript:void(0);" data-ng-click="onContactUsClick()">{{ label.tx_bidforme_nav_contactus }}</a></li>
				<li><a href="javascript:void(0);" data-ng-click="onSignInClick()">{{ label.tx_bidforme_nav_signin }}</a></li>
				<li><a href="javascript:void(0);" data-ng-click="onRegisterClick()">{{ label.tx_bidforme_nav_register }}</a></li>
			</ul>
		</div>
	</div>
</div>