<div data-ng-include="" src="popupTpl"></div>
<img class="logo" src="resources/images/new/logo.png"/>
<div class="content" align="center">
	<table class="maintable"  cellspacing="20">
		<tr>
			<td><img class="pictures" src="resources/images/new/1.png"/></td>
			<td><img src="resources/images/new/arrow.png"></td>
			<td><img  class="pictures" src="resources/images/new/2.png"/></td>
			<td><img src="resources/images/new/arrow.png"></td>
			<td><img class="pictures"  src="resources/images/new/3.png"/></td>
		</tr>
		<tr>
			<td class="action">
				<h1>You Ask</h1>
			</td>
			<td></td>
			<td class="action">
				<h1>They Bid</h1>
			</td>
			<td></td>
			<td class="action">
				<h1>You Go</h1>
			</td>
		</tr>
		<tr>
			<td class="action">
				<h2>Tell us about your travel plan</h2>
			</td>
			<td></td>
			<td class="action">
				<h2>Let our network of travel experts build a tailor made offer</h2>
			</td>
			<td></td>
			<td class="action">
				<h2>
				Compare, Adjust and book your vacation
				<h2>
			</td>
		</tr>
	</table>
</div>
<div class="importanttext">
	Here is the story that Amandine is writing, and we hope it will arrive before end of the year
</div>
<div class="buttons">
	<a class="btn btn-lg btn-danger" href="javascript:void(0);" role="button" data-ng-click="onRegisterClick()">Sign Up</a>
	<a class="btn btn-lg btn-danger" href="javascript:void(0);" role="button">Take a Tour</a>
</div>