<div class="panel panel-default" id="travelSummary">
	
	<div class="panel-heading">
		<h2 class="panel-title">{{ label.tx_bidforme_request_travel_summary }}</h2>
	</div>
	
	<div class="panel-body">
		<table width="100%">
			<tr>
				<td style="vertical-align: top; height:100%">
					<div class="panel panel-success">
						<div class="panel-heading"><img class="provider-logo" src="resources/images/travelers.png">{{ label.tx_bidforme_travelers }}</div>
						<div class="panel-body">
							<span>{{ model.request_nb_adults }} {{ label.tx_bidforme_request_adults }}</span>
						</div>
					</div>
				</td>
				<td style="vertical-align: top; height:100%">
					<div class="panel panel-info">
						<div class="panel-heading"><img class="provider-logo" src="resources/images/itinerary.png">{{ label.tx_bidforme_itinerary }}</div>
						<div class="panel-body">
							<span>{{ label.tx_bidforme_request_travelfrom }} <b>{{ model.request_origin }}</b> </span> 
							<br>
							<span>{{ label.tx_bidforme_request_to }} <b>{{ model.request_destination }}</b> ({{ model.request_departure_date }}) </span> 
							<br>
							<span>{{ label.tx_bidforme_request_return_date }} {{ model.request_return_date }}</span>
						</div>
					</div>
				</td>
				<td style="vertical-align: top; height:100%; position:relative; padding-bottom:0px">
					<div class="panel panel-warning" style="height:100%">
						<div class="panel-heading"><img class="provider-logo" src="resources/images/criteria.png">{{ label.tx_bidforme_criteria }}</div>
						<div class="panel-body" style="heigth:100%">
							<span data-ng-repeat="criterion in model.request_criteria" class="criteria">{{ criterion }}</span>
						</div>
					</div>
				</td>
			</tr>
			<tr>
				<td style="vertical-align: top; height:100%">
					<div class="panel panel-danger">
						<div class="panel-heading"><img src="resources/images/budget.png">{{ label.tx_bidforme_budget }}</div>
						<div class="panel-body">
							<span>$ {{ model.request_budget }}</span>
						</div>
					</div>
				</td>
			</tr>
		</table>
	</div>
</div>