<div data-ng-include="" src="headerTpl"></div>
<div data-ng-include="" src="popupTpl"></div>

<div class="panel panel-default traveler">
	
	<div class="well title">
		<h2 class="panel-title logo">{{ label.tx_bidforme_build_trip }}</h2>
        <p class="lead logo">{{ label.tx_bidforme_plan_holiday }}</p>
	</div>
	<div class="panel-body">
		<div class="row logo">
			<div class="col-md-1">
				<img src="resources/images/1.jpg"/>
			</div>
			<div class="col-md-10 section-title">{{ label.tx_bidforme_select_dest_dates }}</div>
		</div>
		<div class="row logo content">
			<div class="col-md-2">
				<img src="resources/images/home.jpg"/><br/>
				<b>{{ label.tx_bidforme_origin_city }}</b>
			</div>
			<div class="col-md-4">
				<input type="text" id="txtOrigin" class="holo" data-ng-autocomplete="data.origin" details="details1" options="options1"/>
			</div>
			<div class="col-md-2">
				<img src="resources/images/destination.jpg"/><br/>
				<b>{{ label.tx_bidforme_dest_city }}</b>
			</div>
			<div class="col-md-4">
				<input type="text" id="txtDestination" class="holo" data-ng-autocomplete="data.destination" details="details1" options="options1"/>
			</div>
		</div>
		<div class="row logo content">
			<div class="col-md-2">
				<img src="resources/images/calendar.jpg"/><br/>
				<b>{{ label.tx_bidforme_strt_date }}</b>
			</div>
			<div class="col-md-4">
				<datetimepicker data-ng-model="data.startDate" data-datetimepicker-config="{ startView:'day', minView:'day' }" />
			</div>
			<div class="col-md-2">
				<img src="resources/images/calendar.jpg"/><br/>
				<b>{{ label.tx_bidforme_end_date }}</b>
			</div>
			<div class="col-md-4">
				<datetimepicker data-ng-model="data.endDate" data-datetimepicker-config="{ startView:'day', minView:'day' }" />
			</div>
		</div>
		<div class="row logo marginup">
			<div class="col-md-1">
				<img src="resources/images/2.jpg"/>
			</div>
			<div class="col-md-3 section-title">{{ label.tx_bidforme_budget_range }}</div>
			<div class="col-md-8">
				<span class="symbol">&euro;</span>&nbsp;<input type="number" class="holo currency" value="0" autosuggest="off" value="100" data-ng-model="data.budget"/>
			</div>
		</div>
		<div class="row logo marginup">
			<div class="col-md-1">
				<img src="resources/images/3.jpg"/>
			</div>
			<div class="col-md-11 section-title">{{ label.tx_bidforme_any_comments }} <abbr title="describe about trip e.g. i want to have local experience">[?]</abbr></div>
		</div>
		<div class="row logo content lessmargin">
			<div class="col-md-11">
				<textarea id="styled" class="span6" rows="3" placeholder="{{ label.tx_bidforme_any_comments_placeholder }}" data-ng-model="data.comments"></textarea>
			</div>
		</div>
		<div class="row logo marginup">
			<div class="col-md-1">
				<img src="resources/images/4.jpg"/>
			</div>
			<div class="col-md-4 section-title">{{ label.tx_bidforme_insert_criteria }}</div>
		</div>
		<div class="row logo content lessmargin">
			<div class="col-md-11">
				<div class="tag-editor criteria fullwidth" data-ng-click="onTagClick()">
					<div class="tag-group" data-ng-repeat="tag in data.tags">
						<span class="post-tag">{{ tag }}<span class="glyphicon glyphicon-remove-sign" title="remove this tag" data-ng-click="onRemoveTag($index)"></span></span>
					</div>
					<input type="text" id="txtTag" class="criteria" data-ng-model="data.tag" data-ng-change="onTagEntry()"><span></span>
				</div>
			</div>
		</div>
		
		<button type="button" class="btn btn-primary dropdown-toggle marginup" data-toggle="dropdown" data-ng-click="onSubmitTravelRequest()">{{ label.tx_bidforme_submit_request }}</button>
	</div>
</div>