<div data-ng-include="" src="headerTpl"></div>
<h3>{{ label.tx_bidforme_plan_holiday }}</h3>
<div class="panel panel-default">
	<div class="panel-heading">
		<h2 class="panel-title">{{ label.tx_bidforme_build_trip }}</h2>
	</div>
	<div class="panel-body">
		<div class="page-header">
			<h2><img src="resources/images/1.jpg"/></span> {{ label.tx_bidforme_select_dest_dates }}</h2>
			<div id="datelocation">
				<div id="location-forms">
					<table style="width:100%; text-align:center;">
						<tr>
							<td>
								<img src="resources/images/home.jpg"/>
								<b>{{ label.tx_bidforme_origin_city }}</b>
								<input style="clear: left; display: inline;" type='text' class='holo'></input>
							</td>
							<td>
								<img src="resources/images/destination.jpg"/>
								<b>{{ label.tx_bidforme_dest_city }}</b>
								<input style="clear: left; display: inline;" type='text' class='holo'></input>
							</td>
						</tr>
					</table>
				</div>
				<div id="date-forms">
					<table style="width:100%;text-align:center;">
						<tr>
							<td>
								<img src="resources/images/calendar.jpg"/>
								<b>{{ label.tx_bidforme_strt_date }}</b> 
								<input id="ori-date" style="display: inline;" type='text' value="{{ data.startDate|date: 'yyyy MMM dd' }}" class='holo'></input>
								<datetimepicker data-ng-model="data.startDate" data-datetimepicker-config="{ startView:'day', minView:'day' }" />
							</td>
							<td style="width:180px;">
								<div class="btn-group">
									<button class="btn btn-mini">{{ label.tx_bidforme_number_days }}</button>
									<button class="btn btn-mini dropdown-toggle" data-toggle="dropdown">
										<div class="caret"></div>
									</button>
									<ul class="dropdown-menu">
										<!-- dropdown menu links -->
									</ul>
								</div>
							</td>
							<td>
								<img src="resources/images/calendar.jpg"/>
								<b>{{ label.tx_bidforme_end_date }}</b> 
								<input id="dest-date" style="display: inline;" type='text' class='holo'  value="{{ data.endDate|date: 'yyyy MMM dd' }}"></input>
								<datetimepicker data-ng-model="data.endDate" data-datetimepicker-config="{ startView:'day', minView:'day' }" />
							</td>
						</tr>
						<tr>
							<td>
							</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
		<div class="page-header">
			<h2><img src="resources/images/2.jpg"/></span> {{ label.tx_bidforme_preferred_transport }}</h2>
			<div id="transportation">
				<table style="width:100%;">
					<tr>
						<td><img src="resources/images/air.jpg"/></td>
						<td><img src="resources/images/car.jpg"/></td>
						<td><img src="resources/images/train.jpg"/></td>
						<td><img src="resources/images/ship.jpg"/></td>
					</tr>
				</table>
			</div>
		</div>
		<div class="page-header">
			<h2><img src="resources/images/3.jpg"/></span> {{ label.tx_bidforme_budget_range }} <span data-ng-show="budget != null">[{{ budget|currency:'&euro;' }}]</span></h2>
			<div data-role="fieldcontain">
				<input type="range" name="slider" id="slider" value="50000" min="0" max="100000" data-ng-model="budget"/>
			</div>
		</div>
		<div class="page-header">
			<h2><img src="resources/images/4.jpg"/></span> {{ label.tx_bidforme_insert_criteria }}</h2>
			<div id="location-forms">
				<table style="width:100%; text-align:center;">
					<tr>
						<td>
							<b>{{ label.tx_bidforme_personal_criteria }}</b>
							<input style="clear: left; display: inline;" type='text' class='holo'></input>
							<img src="resources/images/plus.jpg"/>
						</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="page-header">
			<h2><img src="resources/images/5.jpg"/></span> {{ label.tx_bidforme_any_comments }}</h2>
			<div>
				<textarea id="styled" class="span6" rows="3" placeholder="{{ label.tx_bidforme_any_comments_placeholder }}" required></textarea>
			</div>
		</div>
		<button id="submit" class="btn btn-lg btn-success" type="button">{{ label.tx_bidforme_submit_request }}</button>
	</div>
</div>