body,html {padding: 0px;overflow-x: hidden;font-family: lato;}


.navbar-fixed-top{width:970px; margin: 30px auto}
.navbar {text-transform: uppercase;background-color: #00beeb;background-image: none;border:none;}
.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav > li > a {color:#000;font-weight: 300}


.my-container{width: 100%; float:left; width:100%;padding:0;margin:0;}

	
	.in-panel {width:970px;margin: 0 auto;}
	.in-panel h2{margin-top:120px;text-transform: uppercase; font-weight:300; font-size:40px;float:left; }
	.in-panel p{text-align:right;font-size:18px;width:100%; clear: both; -moz-column-count:2;-webkit-column-count:2;column-count:2;margin-bottom:90px}
				
		strong{font-size: 24px; font-weight: 300}
		cite a{color: #00ebbe;font-weight: 700; text-transform: capitalize; font-style: italic;font-size: 16px}

	
	#home{background: url(../../images/parallax/3.jpg) no-repeat 50% 0 fixed;height: 540px;position:relative;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
	#copertina{background: #fff; padding:15px 30px;color:#000;opacity: 0.8;position: absolute; bottom: 50%; left:50%; font-size: 90px; font-weight: 300; text-transform: uppercase; margin-left:-485px;margin-bottom:-200px;width:970px;}


	.people{background: url(../../images/parallax/1.jpg) no-repeat 50% 0 fixed; height: 640px;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
	.people h2,p{color:#000; background: #fff;padding:10px 15px;opacity: 0.8}
	
	
	.street{ background: url(../../images/parallax/2.jpg) no-repeat 50% 0 fixed;height: 600px;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
	.street h2,p{color:#000; background: #fff;padding:10px 15px;opacity: 0.8}
    .street p{
        -moz-column-count:1;-webkit-column-count:1;column-count:1;margin-bottom:0px;text-align:left;
    }
	
	
	.footer{background: #333;border:none; height: 250px}
	.footer p{font-size:70px; font-weight: 100; color:#00ebbe; text-align: center;}


@media (max-width: 992px) {

.navbar-fixed-top{width:100%; margin: 0}

	#home{height:620px}
	
	#copertina{position: absolute; bottom: 20%; left:0%; font-size: 30px; font-weight: 300; margin-left: 0;margin-bottom:0;width:100%;}
	
	.in-panel{width:90%; margin-right:5%}
	.in-panel h2{margin-top:70px; font-size:22px;}
	.in-panel p {font-size: 14px;-moz-column-count:1;-webkit-column-count:1;column-count:1;}
	
	.full-panel{background-position: 0 0!important;}
	
	.footer p{font-size:30px;}

    .logo{
        visibility: hidden;
        height: 0px;
        width: 0px;
    }
    
    .buttons a{
        margin:10px;
        font-size: 30px;
    }
    
}

.buttons a{
    text-align: center;
    margin:20px;
    font-family: lato;
    font-size: 60px;
}

.buttons{
    width:100%;
    text-align: center;
}

.earlyreg{
	background: #fff; 
	padding:15px 30px;
	color:#000;
	opacity: 0.8;
	text-align: left;
}

.earlyreg input,textarea{
	opacity:1;
}
.msk.loading {
  background:url('../../images/ajax-loader.gif') no-repeat center rgba(0, 0, 0, 0.5) !important;
  z-index: 9999;
}
.hidden {
	display: none;
}
.alert ul li:first-child{
  list-style: none;
  margin-left: -30px;
}
