<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>index</servlet-name>
		<servlet-class>com.amadeus.bid.ui.servlet.IndexPageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>index</servlet-name>
		<url-pattern>/index</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>traveler</servlet-name>
		<servlet-class>com.amadeus.bid.ui.servlet.TravelerPageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>traveler</servlet-name>
		<url-pattern>/traveler</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>signin</servlet-name>
		<servlet-class>com.amadeus.bid.ui.servlet.SignInServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>signin</servlet-name>
		<url-pattern>/signin</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>logout</servlet-name>
		<servlet-class>com.amadeus.bid.ui.servlet.LogoutServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>logout</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>register</servlet-name>
		<servlet-class>com.amadeus.bid.ui.servlet.RegisterUserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>register</servlet-name>
		<url-pattern>/register</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>provider</servlet-name>
		<servlet-class>com.amadeus.bid.ui.servlet.ProviderPageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>provider</servlet-name>
		<url-pattern>/provider</url-pattern>
	</servlet-mapping>
		<servlet>
		<servlet-name>request</servlet-name>
		<servlet-class>com.amadeus.bid.ui.servlet.RequestPageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>request</servlet-name>
		<url-pattern>/request</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>requestCreate</servlet-name>
		<servlet-class>com.amadeus.bid.ui.servlet.RequestCreateServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>requestCreate</servlet-name>
		<url-pattern>/requestCreate</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>resources/html/welcome.jsp</welcome-file>
	</welcome-file-list>
</web-app>
